attrs==21.2.0
cffi==1.15.0
chardet==4.0.0
click==8.0.3
coverage==6.2
cryptography==35.0.0
Flask==2.0.2
-e git+https://github.com/will-afs/PYTDelivery.git@812ed96fe711118e43d34d7fa7ba59c5a8b51310#egg=flaskapp
greenlet==1.1.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
packaging==21.3
pdfminer==20191125
pdfminer.six==20211012
pluggy==1.0.0
py==1.11.0
pycparser==2.20
pycryptodome==3.11.0
pyparsing==3.0.6
pytest==6.2.5
sshclient==0.1
toml==0.10.2
Werkzeug==2.0.2
